* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* import for poppins style */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #212529 !important;
}
/* media query for navigation */
@media (max-width: 991px) {
  div.nav-option {
    display: block;
  }

  div.nav-option ul li {
    margin: 0px;
    /* padding: 0px; */
  }
}

/* NAVIGATION PART */
header {
  background: linear-gradient(
    to left,
    rgba(98, 108, 117, 0.4),
    rgba(116, 145, 145, 0.4),
    rgba(72, 85, 88, 0.3)
  );
  /* position: fixed;
  z-index: 1;
  top: 0px; */
}

a.navbar-brand {
  color: gold;
  font-size: 30px;
  font-weight: 700;
}

a.navbar-brand:hover {
  color: gold;
}

button.navbar-toggler {
  border: none;
  font-size: 30px;
}

.nav-option {
  display: flex;
  justify-content: flex-end;
}

.nav-option ul li {
  margin-left: 40px;
}

.nav-option ul li a {
  font-size: 20px;
  color: white;
  position: relative;
}

.nav-option ul li a:hover {
  color: white;
  /* border-bottom: 1px solid gold; */
}

.nav-option ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: gold;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-option ul li a:hover::after {
  width: 100%;
  left: 0;
}

/* HEADER END */

/* general information part */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info {
  animation: fadeInUp 2s ease-in-out;
}

/* .general {
  margin-top: 0px;
} */

.general_info {
  height: auto;
  /* border: 1px solid white; */
  padding: 50px;
}

.animated-image {
  animation: slideFromLeft 2s ease-in-out forwards;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  max-width: 100%;
  margin: auto;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  /* 25% {
    transform: translateX(25%);
  } */
  100% {
    transform: translateX(3%);
  }
}

.buttons {
  margin-top: 20px;
}

.buttons a {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border: 1px solid gold;
  border-radius: 50px;
  text-transform: capitalize;
  color: wheat;
  font-weight: 700;
}

a.contact:hover {
  color: black;
  background-color: gold;
}

/* about us section */
.about {
  padding-top: 30px;
  padding-bottom: 30px;
  /* border-bottom: 1px solid white; */
}

.about-d h4 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color: white;
}

div.description {
  /* border: 1px solid red; */
  margin-top: 10px;
}

.description img {
  width: 200px;
  max-width: 100%;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/* .description-p {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.description-p p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  /* text-indent: 50px; */
  color: white;
  font-weight: 500;
}

/* RESUME PART */
.resume {
  padding-top: 20px;
  padding-bottom: 30px;
  /* border-bottom: 1px solid white; */
}

div.card {
  background-color: #212529;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
}

/* SKILLS PART */
.skills {
  padding-top: 20px;
  padding-bottom: 30px;
  /* border-bottom: 1px solid white; */
}

div.skill > .card {
  height: 400px;
}

div.card-body ul {
  list-style-type: none;
  margin-top: 10px;
}

div.card-body ul li {
  line-height: 2;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  color: white;
  margin-right: 20px;
}

div.card-body ul li:hover {
  transform: scale(1.1);
  color: gold;
  border: 1px solid gold;
}

/* PROJECT PART */
.project {
  padding-top: 20px;
  padding-bottom: 30px;
  /* border-bottom: 1px solid white; */
}

.project-animate > .card:hover {
  transform: scale(1.1);
}
/* contact section */
.contact {
  padding-top: 20px;
  padding-bottom: 30px;
}

.contact-card > .card {
  height: 370px;
}

.contact-form form label {
  display: block;
  font-weight: 700;
  color: black;
  font-size: 20px;
  margin-top: 10px;
}

.contact-form form input {
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 10px;
}

.contact-form form textarea {
  display: block;
  width: 100%;
}

.social-icons a i {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #3b3837;
  border-radius: 50%;
  margin-right: 7px;
  transition: box-shadow 0.3s;
}

.social-icons a i:hover {
  position: relative;
  bottom: 5px;
  box-shadow: 0 0 10px 5px gold;
}

/* PAGE UP BUTTON */
a.page-up i {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 45px;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #3b3837;
  border-radius: 50%;
  margin-right: 7px;
}

/* DECLARATION PART */
/* DECLARATION OF WEBSITE */
.footer-declare {
  background-color: #212529;
  padding: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.declare-text p {
  font-size: 20px;
  color: white;
}
